<!DOCTYPE html>
<html>

<head>
    <title>Fing Missing Object</title>
</head>

<body>
    <header>
        <h1>Find missing object</h1>
    </header>
    <main>
        
        <button id="myButton">Listen</button>
        <form id="videoForm" action="/toggle_video" method="post">
            <button type="submit" id="startVideo">Toggle Video</button>
        </form>
        
        <h1>Video Stream</h1>

        {% if is_video_on %}
        <img src="{{ url_for('video') }}" width="640" height="480" />
        {% endif %}
        
    <h1><span id="speech_text"></span></h1>

    <script>
        document.getElementById("myButton").addEventListener("click", function () {
            document.getElementById("speech_text").textContent = "Listening ... ";

            fetch('/get_user_speech', {
                method: 'POST'
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById("speech_text").textContent = data.new_count;
                });
        });
    </script>
    </main>
</body>

</html>