body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
}

main {
    margin: 20px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

#videoForm {
    margin-top: 20px;
}

.video-stream {
    margin-top: 15px;
}

.video-stream img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.response {
    margin-top: 20px;
    font-size: 1.2em;
}

.response span {
    font-weight: bold;
    color: #007bff;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 2em;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    min-width: 300px;
    /* This ensures a minimum width for smaller buttons */
    box-sizing: border-box;
}

button:hover {
    background-color: #218838;
}