<!DOCTYPE html>
<html>

<head>
    <title>Find Missing Object</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>FIND   MISSING   OBJECTS</h1>
    </header>
    <main>
        <div class="button-container">
            <button class="button" id="myButton">LISTEN 🎙️</button>
            <form id="videoForm" action="/toggle_video" method="post">
                <button class="button" type="submit" id="startVideo">TOGGLE VIDEO </button>
            </form>
        </div>        
        {% if is_video_on %}
        <h1>Video Stream</h1>
        <img src="{{ url_for('video') }}" width="640" height="480" />
        {% endif %}

        </video>
    </div>        
        </main>
        <h1><span id="speech_text"></span></h1>

        <h3><span id="llava_text"></span></h3>

        <script>
            document.getElementById("myButton").addEventListener("click", function () {
                event.preventDefault();  
                document.getElementById("speech_text").textContent = "Listening 🎤 ... ";

                fetch('/get_user_speech', {
                    method: 'POST'
                })
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById("speech_text").textContent = "Requested object : " + data.obj_to_be_found;
                        fetch('/get_vqa_result', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ voice_input: data.obj_to_be_found })
                        })
                            .then(response => response.json())
                            .then(data => {
                                document.getElementById("llava_text").textContent = "Description :  " + data.vqa_response;
                                console.log("0");
                                fetch('/toggle_video', { method: 'POST' })
                                .catch(error => console.error('Error toggling video:', error));
                                document.getElementById("startVideo").click();

                                
                                var speechText = document.getElementById("speech_text").textContent;
                                var llavaText = document.getElementById("llava_text").textContent;

                                
                                sessionStorage.setItem("speechText", speechText);
                                sessionStorage.setItem("llavaText", llavaText);
                            })
                            .catch(error => console.error('Error in second API call:', error));
                    })
                    .catch(error => console.error('Error in first API call:', error));
            });

            
            var storedSpeechText = sessionStorage.getItem("speechText");
            var storedLlavaText = sessionStorage.getItem("llavaText");

            
            if (storedSpeechText) {
                document.getElementById("speech_text").textContent = storedSpeechText;
            }
            if (storedLlavaText) {
                document.getElementById("llava_text").textContent = storedLlavaText;
            }

            function toggleVideo() {
        var videoContainer = document.getElementById("videoContainer");
        var videoElement = document.getElementById("videoElement");

        if (videoContainer.style.display === "none") {
            videoContainer.style.display = "block";
            videoElement.src = "{{ url_for('video') }}"; 
        } else {
            videoContainer.style.display = "none";
        }
    }
        </script>
    </main>
</body>

</html>
